<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
<script src="angular.min.js"></script>
<!--<script src="spring-security-csrf-token-interceptor.js"></script> -->
<script src="angular-cookies.min.js"></script>
<script src="angular-animate.js"></script>
<script src="ui-bootstrap-tpls-2.5.0.js"></script>
<link rel="stylesheet" href="styles\bootstrap\css\bootstrap.css"/>
</head>
<body ng-app="demoapp">


<div id="logout" ng-controller="sessionCtrl"> 
		<span><a href="#" ng-click="signout(x.url)">Sign out</a></span>
</div>
<div ng-controller="meetingsCtrl" class="container">
<h2>Meeting Form</h2>

<form ng-submit="createMeeting()">
	<div class="form-group">
       <input type="text" ng-model="subject" size="50" placeholder="Subject"/>
    </div>
	<div class="form-group">
	  <input type="text" ng-model="meetingLocation" size="50" placeholder="Place"/>
	</div>
	<div class="form-group">
	  <input type="datetime-local" ng-model="meetingDateTime" size="50" placeholder="Date and Time"/>
    </div>
	<div class="form-group">
	   <textarea ng-model="meetingDescription" rows="4" cols="50" placeholder="Description"></textarea>
	</div>
	<div class="form-group">
	  <input type ="file" file-model = "file"/>
	</div>
	 
	
    <input type="submit" value="Create"/>
</form>

<br>

<h2>Meetings</h2>
<div >
	<table style="width:100%">
  <tr>
    <td>Subject</td>
    <td>Location</td>	
  </tr>
  <tr ng-repeat="meeting in meetings">
     <td><span ng-bind="meeting.subject"></span></td>
	 <td><span ng-bind="meeting.location"></span></td>
	 <td><a href="#" ng-click="handleClick(meeting.url)">Details</a></td>
 </tr>
 </table>
   
</div>
<p>
<a href="/user.html">User</a>

</div>

<script src="app.js"></script>
<script src="session.js"></script>
<script src="controllers/file.js"></script>
<script src="controllers/meetings.js"></script>
<script src="styles/bootstrap/js/bootstrap.min.js"</script>
</body>
</html>
