<div ng-controller="meetingCtrl" class="container" ng-init="init()">


<form ng-submit="update(resourceUrl)">
    <div class="form-group">
	   <input type="text" ng-model="subject" size="50" placeholder="Subject">
    </div>
	<div class="form-group">
	  <input type="text" ng-model="meetingLocation" size="50" placeholder="Location">
	</div>
	<div class="form-group">
		<input type="datetime-local" ng-model="meetingDateTime" size="50" placeholder="Date and Time"/>
    </div>
	<div class="form-group">
	  <textarea ng-model="meetingDescription" rows="4" cols="50" placeholder="Description"></textarea>
	</div>
	<div id="participants" class="form-group">
	{{selectedUser.name}}
	<input type="text" 
		ng-model="selectedUser"
        placeholder="Search" 
		uib-typeahead="user as user.fullName for user in getUsers($viewValue)" 
		typeahead-loading="loadingLocations" 
		
		typeahead-no-results="noResults" 
		class="form-control">
	<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div> 	

	   or Add
	  <div>
		<input type="text" ng-model="participantName" size="50" placeholder="Name">
		<input type="text" ng-model="participantOrganization" size="50" placeholder="Organization">
		<input type="email" ng-model="participantEmail" placeholder="email">
	  </div>
	  <button class="btn" ng-click="addParticipant()">Add</button>
	  
	</div>
	<div ng-repeat="participant in participants">
      <div>
	     <ul class="list-group"> 
			<li>{{participant.name}}({{participant.email}})</li>
		 </ul>
	  </div>
	</div>
	<div class="form-group">
		<input type ="file" file-model = "file"/>
    </div>
	<input type="submit" value="Update" class="btn btn-primary">
</form>

<br>

<div ng-repeat="file in files">
    <div><span ></span> 
		<span><a href="#" ng-click="download(file.contentUrl)">{{file.name}}</a></span>
	</div>
</div>
</div>


