<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<body ng-app="demoapp" >

<div id="logout" ng-controller="sessionCtrl"> 
		<span><a href="#" ng-click="signout(x.url)">Sign out</a></span>
</div>

<div ng-controller="todoCtrl"> 
<h2>Todo List</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in todoList">
    <div id="{{x.url}}"><span ng-bind="x.todoText"></span> 
		<span><a href="#" ng-click="deletelist(x.url)">Delete</a></span>
	</div>
</div>

<p><button ng-click="remove()">Remove marked</button></p>
<p><a href="/user.html">Users</a>

</div>
<script src="app.js"></script>
<script src="session.js"></script>
<script src="controllers/todolist.js"></script>


</body>
</html>
