<div ng-controller="todoCtrl" ng-init="init()">
<div>
 <a href="#" ng-click="displayForm(true)" ng-show="showList" >Add</a>
 <a href="#" ng-click="displayForm(false)" ng-show="showForm">TodoList</a>
</div>
<br/>
<div ng-show="showForm">
<br/>
<form ng-submit="todoAdd()">
	<div class="form-group">
    <input type="text" ng-model="todoItemTitle" size="50" placeholder="Title">
	</div>
	
	<input type="submit" value="Add New"/>
</form>
</div>
<div ng-show="showList">
<h2>Todo List</h2>
<div ng-repeat="x in todoList">
    <div id="{{x.url}}"><span ng-bind="x.todoText"></span> 
		<span><a href="#" ng-click="deletelist(x.url)">Delete</a></span>
	</div>
</div>
</div>
<br/>
<br/>
</div>