<!DOCTYPE html>
<html>
<script src="angular.min.js"></script>
<script src="angular-cookies.min.js"></script>
<body ng-app="demoapp">


<div id="logout" ng-controller="sessionCtrl"> 
		<span><a href="#" ng-click="signout(x.url)">Sign out</a></span>
</div>
<div ng-controller="userCtrl">
<h2>User Form</h2>

<form ng-submit="userAdd()">
    <input type="text" ng-model="username" size="50" placeholder="User name">
    <input type="text" ng-model="userfullname" size="50" placeholder="Full name">
    <input type="text" ng-model="useremail" size="50" placeholder="Email">
    <input type="password" ng-model="password" size="50" placeholder="Password">
	<input type="submit" value="Add New">
</form>

<br>
<!--
<button ng-click="reloadUser()">Reload user</button>
-->

<h2>User List</h2>
<div >
	<table style="width:100%">
  <tr>
    <td>Name</td> 
	<td>Full name</td> 
	<td>Email</td>
	<td></td>
  </tr>
  <tr ng-repeat="x in userList">
     <td><span ng-bind="x.userName"></span></td>
	 <td><span ng-bind="x.userFullName"></span></td>
	 <td><span ng-bind="x.userEmail"></span></td>
	 <td><a href="#" ng-click="handleClick(x.userId)">TodoList</a></td>
  </tr>
 </table>
   
</div>

</div>

<script src="app.js"></script>
<script src="session.js"></script>
<script src="controllers/user.js"></script>

</body>
</html>
